<div class="row ml-1 mt-1">
  <form [formGroup]="userTable">
    <table class="table table-border">
      <thead>
      <th>Номер объекта</th>
      <th>Количество ВВ</th>
      <th>Количество в Вагонах</th>
      <th>Тип,группа</th>
      <th>Наименование группы</th>
      <th>Широта</th>
      <th>Долгота</th>
      <th>Радиус</th>
      <th>Цвет</th>
      <th></th>
      </thead>
      <tbody>
      <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
        <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
          <td>
            <mat-form-field [style.width.px]=50>
              <input matInput type="number" formControlName="object_number">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field [style.width.px]=100 (change)="set_radius(group)">
              <input matInput type="number" formControlName="vv_amount">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field [style.width.px]=100>
              <input matInput type="number" formControlName="vagon_amount">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field [style.width.px]=100>
              <mat-select formControlName="group_type" (ngModelChange)="set_group_names(i, group)">
                <mat-option *ngFor="let i of object_keys(rules)" [value]="i">{{i}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field [style.width.px]=100>
              <mat-select formControlName="group_name">
                <mat-option *ngFor="let j of group_names[i]" [value]="j">{{j}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="number" formControlName="coord_x">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="number" formControlName="coord_y">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field [style.width.px]=50>
              <input matInput type="text" formControlName="radius" [attr.disabled]="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field [style.width.px]=100>
              <mat-select formControlName="color">
                <mat-option value="green">{{colors['green']}}</mat-option>
                <mat-option value="gray">{{colors['gray']}}</mat-option>
                <mat-option value="brown">{{colors['brown']}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
            <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
          </td>
        </tr>
        <tr *ngIf="!group.get('isEditable').value" class="table-{{group.get('color').value}}">
          <td>
            {{group.get('object_number').value}}
          </td>
          <td>
            {{group.get('vv_amount').value}}
          </td>
          <td>
            {{group.get('vagon_amount').value}}
          </td>
          <td>
            {{group.get('group_type').value}}
          </td>
          <td>
            {{group.get('group_name').value}}
          </td>
          <td>
            {{group.get('coord_x').value}}
          </td>
          <td>
            {{group.get('coord_y').value}}
          </td>
          <td>
            {{group.get('radius').value}}
          </td>
          <td>
            {{colors[group.get('color').value]}}
          </td>
          <td>
            <mat-icon class="edit" style="color: black" (click)="editRow(group)">edit</mat-icon>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <div class="action-container">
      <button mat-raised-button type="submit" (click)="addRow()">Добавить</button>
<!--      <button mat-raised-button [disabled]="userTable.invalid" type="submit" (click)="submitForm()">Сохранить</button>-->
    </div>
  </form>

</div>
<div class="row ml-1 mt-1">

  <div class="map-container" style="width: 90%">
    <angular-yandex-map [center]="[46.830288, 75.251654]" [zoom]="10" (yaclick)="onClick($event)">
<!--      <angular-yandex-geoobject-->
<!--        [feature]="feature"-->
<!--        [options]="options"-->
<!--      ></angular-yandex-geoobject>-->
      <angular-yandex-geoobject *ngFor="let point of points"
                                [feature]="point.feature"
                                [options]="point.options"
                                (drag)="onClick($event)"
      ></angular-yandex-geoobject>
    </angular-yandex-map>
    <hr>
    <mat-form-field [style.width.px]=200>
      <mat-label>Максимальный радиус (км)</mat-label>
      <input matInput type="number" [(ngModel)]="max_radius">
    </mat-form-field>
  </div>

<!--  <div class="output">-->
<!--    <p>Form Data:  {{userTable.value | json}}</p>-->
<!--    <p>Points Data:  {{points}}</p>-->
<!--    <p>Is Valid: {{userTable.valid}}</p>-->
<!--  </div></div>-->
