header {
  background-color: #333;
  color: #fff;
  overflow: auto;
  position: sticky;
  top:0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

mat-icon {
  cursor: pointer;
}

.action-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.table {
  padding: 20px;
}

.table tbody tr td,
.table thead th,
.table thead {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.output {
  padding: 20px;
}

.delete {
  color: red  ;
}

.done {
  color: green;
}

.edit {
  color: yellow;
}
span.ui-column-resizer {
  width: 100%;
  height: 100%;
  cursor: col-resize;
  padding: 30px;

}

.table-green td {
  background-color: green;
}

.table-gray td {
  background-color: gray;
}

.table-brown td {
  background-color: saddlebrown;
}

.map-container {
  width: 1000px;
  height: 500px;
}

.scheme-table tr {
  height: 10px;
}
