<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <a class="navbar-brand" href="#">Нормы загрузок и удаленности объектов</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/table-component" routerLinkActive="active">Добавление данных <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/scheme-component" routerLinkActive="active">Обзор схемы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/norms-component" routerLinkActive="active">Нормы и расстояние *42</a>
      </li>
      <!--                <li class="nav-item">-->
      <!--                    <a class="nav-link" href="#">Pricing</a>-->
      <!--                </li>-->
    </ul>
  </div>
</nav>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
